/*Shay Hart, October 24th, 2025*/

body {
    background-color: #ffee8c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    padding: 0;
}

header {
    padding: 10px;
    text-align: center;
}

nav {
    font-size: 12px;
}

nav a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 24px;;
}

h2 {
    font-size: 16px;
}

#main {
    font-size: 12px;
    max-width: 75%;
}

img {
    height: auto;
    width: 50%;
}

footer {
    font-size: 8px;
    font-style: italic;
    padding-right: 6px;
    text-align: right;
}



@media (min-width: 500px) {

    header {
        text-align: right;
    }

    nav {
        font-size: 18px;
    }

    #main {
        font-size: 14px;
        width: 85%;
    }
    
    img {
        width: 60%;
    }

}

@media (min-width: 768px) {

    nav {
        padding: 0 20px;
    }

    #main {
        font-size: 16px;
        width: 80%;
    }
    
    img {
        width: 40%;
    }

}

@media (min-width: 1024px) {

    nav {
        font-size: 20px;
        padding: 0 40px;
    }

    #main {
        font-size: 18px;
        width: 70%;
    }
    
    img {
        width: 30%;
    }

}
